@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: 0.15px;
    color: #4e4e4e;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
